<div ng-controller='add'>
  <h3>New Appointment</h3>
  <label>Date:</label><input type="date" ng-model="appointment.date">
  <label>Time:</label><input type="time" ng-model="appointment.time">
  <br>
  <label>Complaint:</label>
  <br>
   <textarea ng-model="appointment.complaint" rows="8" cols="40"></textarea>
  <br>
<button type="button"><a href="#/dashboard">Cancel</a></button>
  <button type="button" ng-click='addAppointment()'>Add Appointment</button>
  <p ng-repeat="error in errors track by $index" ng-bind="error"></p>
</div>
