<div ng-controller='dashboard'>
  <h2>Hi {{sessionUser.name}}</h2><a href="#/">Logout</a>
  <h2>Doctor's Appointments</h2>
  <p>
    Search:
  </p>
  <input type="text" ng-model="search">
  <table>
    <thead>
      <th>
        Date
      </th>
      <th>
        Time
      </th>
      <th>
        Patient Name
      </th>
      <th>
        Complaint
      </th>
    </thead>
    <tbody>
      <tr ng-repeat='appointment in appointments | filter:search'>
        <td ng-bind="appointment.date"></td>
        <td ng-bind="appointment.time | date:'shortTime'"></td>
        <td ng-bind="appointment.name"></td>
        <td>
          {{appointment.complaint}}
          <div ng-if="appointment.name == sessionUser.name">
            <button type="button" ng-click="delete(appointment)">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button"><a href="#/add">Add New Appointment</a></button>
</div>
